beautifulsoup4==4.7.1
Pillow==8.1.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
django==2.1.5
whitenoise
gunicorn
django-heroku
djangorestframework
django-registration==2.4.1
cloudinary
soupsieve==1.9.1
sqlparse==0.3.0
uritemplate==3.0.0
urllib3==1.25.2
