{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    {% if title %}
    <title></title>
    {% else %}
    <title>Weather</title>
{% endif%}
</head>
<body>

    <main role="main" class="container">
  <div class="row">
    <div class="message">
      {% if messages %}
            {% for message in messages %}
            <div class="alert is-{{message.tags}} ">
              {{message}}
            </div>
            {% endfor %}
      {% endif %}</div></div>
    </div>
 
  </div>
</main>
    <section class="hero is-full is-primary ">
        <div class="hero-body">
            <div class="container ">
                <h1 class="title">
                    What's the weather like?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-3 is-4">
                    <form action="" method="get">
                            <div class="control">

                            <input class="input" value="{{ request.GET.q }}" name='q' type="text" placeholder="city">
                           
                      </div>
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    Check Weather
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
            {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}°C</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                        {% empty %}
                            <hr><h3>Enter City Name to View Weather</h3>
                   {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
